{% extends './base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block stylesheets %}

  <style>
    html {
    scroll-behavior: smooth;
    }
    #haut {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
  
    color: white;
    cursor: pointer;
  
    border-radius: 10px;
  
    }
    #haut:hover {
    background-color:;
    }
    </style>  
{% endblock %}

{% block body %}
  {{ include("shared/header.html.twig") }}


<div class="wrapper">

    <header class="mb-44">
      <div class='grid grid-cols-2 gap-2'>
      <h1 class='text-center mt-10 text-gray-600 text-6xl'>WELCOME TO <h1 class='text-red-600 text-center mt-10 text-7xl font-bold'>GAMEZONE51</h1> </h1>
      </div>
      <img class="rounded mb-10" src="https://img.icons8.com/windows/344/long-arrow-up.png">
      <ul>
        <li>OMAR ALMOCTAR COULIBALY</li>
        <li class='font-bold'>Designer of this wonderful site</li>
        <li>Computer engineering school student</li>
        <li>If you like share</li>
      </ul>
    </header>
  </div>

  <section class="">
{% for element in outall %} 



<div class="wrapper">

<article class="-mt-44 ">
    <picture class="backdrop"><img src=""></picture>
    <div class="front">
      <div class="info-backdrop"></div>
      <img src="{{element.getImage}}">
      
      <div class="info">
        <h1 class='font-bold mt-6 font-extrabold text-transparent text-7xl bg-clip-text bg-gradient-to-r from-black to-gray-400'>{{element.getTitle}}</h1>

<div class="flex space-x-2 justify-center ">
  <h1 class='text-5xl font-bold mt-6'>Industry : </h1>
        <h1 class='text-5xl text-gray-500 font-bold mt-6'> {{element.getDevelopmentIndustry}}</h1>

</div>

<div class="flex space-x-2 justify-center ">
  <h1 class='text-5xl font-bold mt-6'>Type : </h1>
        <h1 class='text-5xl text-gray-500 font-bold mt-6'> {{element.getTypeOfGame}}</h1>

</div>

        <h2 class="font-bold">{{element.getPrice}} €</h2>
        <button class="learn-more mt-6 no-underline"><a class="no-underline text-white" href="{{path('once', {'id' : element.getId})}}">MORE DETAILS</a></button>
       </div>

      </div>


  </article>



</div>


{% endfor %}

<section>


  
  <div'>
  <button onclick="retourHaut()" id="haut" title="Retour haut de page"><img class="h-20 w-14 animate-bounce"  src='https://img.icons8.com/fluency/344/shift.png' /></button>
  </div>
  
  <script>
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) 
  {
  document.getElementById("haut").style.display = "block";
  } 
  else 
  {
  document.getElementById("haut").style.display = "none";
  }
  }
  
  function retourHaut() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
  } 
  </script>

{% endblock %}
