{% extends 'base.html.twig' %}

{% block title %}Details Jeux{% endblock %}

{% block stylesheets %}
<style>
  html {
  scroll-behavior: smooth;
  }
  #haut {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;

  color: white;
  cursor: pointer;

  border-radius: 10px;

  }
  #haut:hover {
  background-color:;
  }
  </style>
<link href="{{asset('CSS/homepa.css')}}" rel="stylesheet" />
{% endblock %}


{% block body %}


{{ include("shared/headerconnexion.html.twig") }}


<h1 class="text-9xl text-center p-6 font-bold space-y-10 italic text-gray-600 mt-10 mb-14 "> {{one.getTitle}} </h1>
<img class="mx-auto h-96 w-96 rounded object-cover object-center animate-bounce" src="{{one.getImage}}"/>
<h1 class="text-8xl text-center p-6 font-bold space-y-10 italic mt-6 uppercase bg-clip-text bg-gradient-to-r from-black to-gray-100 font-extrabold text-transparent"> Game description : </h1>

<div class="border border-gray-800 mx-auto box-content w-96 ">
<p class="text-gray-800 text-2xl text-center p-6 font-bold space-y-10 italic">{{one.getDescription}}</p>
</div>


<div class="flex space-x-2 justify-center mt-20 ">
  <h1 class='font-extrabold text-transparent text-5xl font-bold mt-6 uppercase bg-clip-text bg-gradient-to-r from-black to-gray-500 '> Release Date : </h1>
        <h1 class='text-4xl text-gray-500 font-bold mt-6'>{{one.getDate|date('d-m-Y')}}</h1>

</div>




<h1 class="text-black text-8xl text-center p-6 font-bold space-y-10 italic text-gray-800 mt-52 animate-pulse"> Listes des autres jeux : {{one.getTypeOfGame}}</h1>
{% for element in similaire %} 

<div class="wrapper">

<article class="-mt-44">
    <picture class="backdrop"><img src=""></picture>
    <div class="front">
      <div class="info-backdrop"></div>
      <img src="{{element.getImage}}">
      <div class="info">
        <h1 class='text-6xl font-bold mt-6'>{{element.getTitle}}</h1>
        <h2>{{element.getPrice}} €</h2>
        <p class="text-2xl">{{element.getDescription}}</p>
        <div class="border border-gray-800 mx-auto box-content w-52 mt-8 h-22">
        <p class="text-4xl font-bold mt-14 text-red-800 animate-bounce">{{element.getDate|date('d-m-Y')}}</p>
        </div>
      </div>

    </div>
  </article>



</div>

{% endfor %}



  
  <div'>
  <button onclick="retourHaut()" id="haut" title="Retour haut de page"><img class="h-14 w-14 animate-bounce"  src='https://img.icons8.com/windows/344/long-arrow-up.png' /></button>
  </div>
  
  <script>
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) 
  {
  document.getElementById("haut").style.display = "block";
  } 
  else 
  {
  document.getElementById("haut").style.display = "none";
  }
  }
  
  function retourHaut() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
  } 
  </script>
{% endblock %}