

{{ form_start(search,{'method': 'POST'}) }}
<div class="">
  <div class="xl:w-96">

    <div class="input-group relative grid grid-cols-2 gap-2 ">
       <div>{{ form_row(search.title,{ 'label': ' ' }) }}</div>
       <div>{{ form_row(search.save, { 'label': 'SEARH', 'class': 'btn  bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out mt-6 " type="button" id="button-addon2' }) }}</div>
    </div>

       <div class="my-custom-class-for-errors">
        {{ form_errors(search) }}
    </div>  

    </div>
  </div>
</div>       
{{ form_rest(search) }} 
{{ form_end(search) }}